<!--
  TAREA TA04 – DetallePage
  Implementa los TODOs siguiendo los apartados indicados en la teoría.
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
     <!-- TODO: Modificar <ion-title>{{ elementoDetalle?.nombre }}</ion-title> -->
    <!-- Con signal, leemos el valor llamándolo como función-->
    <ion-title></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- TODO: Modificar elementoDetalle por elementoDetalle()-->
  <!-- @if evalúa el signal como función; dentro del bloque, elementoDetalle() ya tiene valor -->
  <!--@if ()-->
    <ion-list>
      <ion-item>
        <ion-label>
          <!--nombre-->
          <h2></h2>
          <!--descripcion-->
          <p></p>
        </ion-label>
      </ion-item>
      <ion-item>
        <!--categoria-->
        <ion-label>Categoría: </ion-label>
      </ion-item>
    </ion-list>
  <!--@else-->
    <ion-item>
      <ion-label>No se ha seleccionado ningún elemento.</ion-label>
    </ion-item>


</ion-content>
